@use '../abstracts/mixins' as *;

.header {
  color: var(--color-text);

  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  right: 0;
  transition: .2s ease;

  @include respond-to(sm) {
    top: 10px;
  }

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-bg);
    padding: 20px;


    @include respond-to(sm) {
      border-radius: 16px;
    }
  }

  &__logo {
    background-image: url('../assets/images/softswiss-logo.svg');
    width: 150px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    order: 0;
  }

  &__navigation {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background-color:var(--color-bg);
    padding: 20px 20px 10px 20px;
    transform: translateY(-80px) rotateX(90deg);
    transform-origin: top;
    //pointer-events: none;
    transition: .3s ease-in-out;
    max-height: calc(100dvh - 120px);
    z-index: -1;

    @include respond-to(sm) {
      border-radius: 16px;
      top: calc(100% + 10px);
    }

    &.open {
      transform: translateY(0) rotateX(0);
      opacity: 1;
      pointer-events: visible;
    }


    @include respond-to(lg) {
      position: initial;
      background-color: transparent;
      padding: 0;
      transform: translateY(0) rotateX(0);
      opacity: 1;
      z-index: initial;
      transition: none;
    }
  }

  &__navigation-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond-to(lg) {
      flex-direction: row;
    }
  }

  &__navigation-list-item {
    border-bottom: 1px solid rgba(157, 160, 170, .3);
    width: 100%;
    padding: 14px 0;

    a {
      padding: 14px;
      transition: .3s ease;

      &:hover {
        background-color: var(--color-grey-light);
        border-radius: 6px;
      }
    }

    @include respond-to(lg) {
      padding: unset;
      border: unset;
      width: unset;
    }

    &--theme {
      text-align: right;
      border: unset;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
    padding-right: 10px;

    @include respond-to(sm) {
      margin-left: unset;
      padding-right: unset;
    }
  }

  &__toggle-theme {

    &:before {
      background-image: url('../assets/images/theme-switch-icon.svg');
    }
  }

  &__contact-button {
    background-color: var(--color-primary) !important;

    &:before {
      background-image: url('../assets/images/mail-icon.svg');
    }

    span {
      display: none;
    }

    @include respond-to(lg) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: initial !important;
      height: 48px !important;
      padding: 24px !important;
      background-color: var(--color-primary);
      color: var(--color-white);
      text-transform: uppercase;

      &:before {
        content: none;
        display: none;
        background-image: none;
      }

      span {
        display: inline-block;
      }
    }
  }
}