@use '../abstracts/variables' as *;

.btn {
  padding: 14px 24px;

  border-radius: 8px;

  text-align: center;

  line-height: 145%;
  letter-spacing: 0.02em;
  font-family: $FontFamilySofiaPro;
  font-size: $font-size-body-sm;

  &--red {
    background-color: var(--color-primary);
    color: var(--color-white);
    text-transform: uppercase;
  }

  &--w-icon {
    position: relative;
    width: 48px;
    height: 48px;
    padding: 0;
    background-color: var(--color-grey-light);

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-repeat: no-repeat;
      background-size: contain;
      width: 20px;
      height: 20px;

    }
  }

  &--outline {
    border: 1px solid var(--color-grey);
    background-color: transparent;
    color: var(--color-text);
    font-weight: 600;
  }
}