@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.burger-menu {
  display: flex;
  align-items: center;
  z-index: 3;
  position: relative;
  padding: 14px;
  min-width: 48px;
  height: 48px;
  border-radius: 8px;
  background-color: var(--color-grey-light);
  justify-content: center;
  transition: .3s ease;
  cursor: pointer;
  order: 1;

  @include respond-to(sm) {
    order: unset;
  }

  @include respond-to(lg) {
    display: none;
  }

  &:hover &__text {
    color: var(--color-primary);
  }

  &__icon {
    display: block;
    position: relative;
    width: 16px;
    height: 13px;

    span {
      width: 100%;
      height: 2px;
      background-color: var(--color-text);
      position: absolute;
      top: 50%;
      border-radius: 999px;
      //transition: background-color .15s .15s ease;

      &:before{
        content: "";
        position: inherit;
        background-color: var(--color-text);
        height: inherit;
        width: 100%;
        border-radius: inherit;
        top: -5px;
        transition: transform 250ms ease, top 250ms 250ms ease;
      }

      &:after{
        content: "";
        position: inherit;
        background-color: var(--color-text);
        height: inherit;
        width: 100%;
        border-radius: inherit;
        top: 5px;
        transition: transform 250ms ease, top 250ms 250ms ease;
      }
    }

    &.open {
      span {
        background: 0 0;

        &:before {
          background-color: var(--color-primary);
          top: 0;
          transform: rotate(45deg);
          transition: top 250ms ease, transform 250ms 250ms ease;
        }

        &:after {
          background-color: var(--color-primary);
          top: 0;
          transform: rotate(-45deg);
          transition: top 250ms ease, transform 250ms 250ms ease;
        }
      }
    }
  }

  &__text {
    display: none;
    margin-left: 10px;
    font-size: $font-size-body-sm;
    font-weight: 600;
    text-transform: lowercase;

    @include respond-to(sm) {
      display: block;
    }

    @include respond-to(lg) {
      display: none;
    }
  }
}
