.dark-theme {
  --color-bg: #1D1D1B;
  --color-text: #FFFFFF;
  --color-primary: #E30613;
  --color-grey-light: rgba(255,255,255, .1);
  --color-grey: rgba(255,255,255, .2);
  --color-grey-dark: #000;


  .header__logo {
    background-image: url('../assets/images/softswiss-logo-white.svg');
  }

  .header__toggle-theme {
    &:before {
      filter: brightness(0) invert(1);
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }


  .countries-slider__prev, .countries-slider__next {
    &:before {
      filter: brightness(0);
    }
  }

}